__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg-info/
*.bak
*.tmp
*.orig
*.spec

.venv/
venv/
env/
ENV/
env.bak/

staticfiles/
media/
*.log
*.sqlite3
*.db

.DS_Store
.AppleDouble
.Trashes
ehthumbs.db
Desktop.ini
*~
.cache/
*.pid
*.tar
*.gz
*.out
*.lock
*.swp
*.swo
*.tmp

.vscode/
.idea/
*.code-workspace
*.project
*.settings/
*.sublime-workspace
*.sublime-project

node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/

*.img
*.iso
*.deb
*.service
*.sock
run.sh~
stop.sh~
nohup.out
embedded/__pycache__/
embedded/build/
embedded/dist/

*.hex
*.elf
*.eep
*.bin
*.o
*.d
*.map
*.ino.cpp
*.arduino_build_*/
*.ino.hex
*.ino.bin
*.ino.with_bootloader.hex
*.ino.with_bootloader.bin
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json

test/
temp/
sandbox/
uploads/
backups/

!README.md
!manage.py
!.gitignore
!requirements.txt
!start.sh
!start.bat
access_log.txt
